.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 20rem;
  width: 1fr;
}
.card:hover{
  transform: scale(1.05);
}

.img{
  width: auto;
  height: 10rem;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}